
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Monoton&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Merienda:wght@300..900&family=Monoton&family=Rock+Salt&display=swap');
body{
    padding:0px;
    margin:0px;
    
    background-color: rgb(184   ,109,44)
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(184   ,109,44);
    font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
    color:rgb(194,175,44);
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px black;
    margin-bottom: 20px;
    background-color:rgb(83,48,72);
    padding:0px;
  
}

header span {
    width:1%;
}

h1 {
    font-size:500%;
    margin:0px 0px 0px 10px;
    padding:0px;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(237, 206, 70);;
}

h2 {
    box-shadow:0px 5px 5px black;
    background-color:rgb(83,48,72);
    color:rgb(237, 206, 70);
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding-left: 5px;

}

hr {
    height: 5px;
    background-color: rgb(194,175,44);
    box-shadow: 0px -5px 20px white;
}

.line-animate {
    transition: 2s;
}
.text{
    max-height: 0px;
    overflow: hidden;
}

.text-animate{
    transition: 4s;
}

#game-window{
    z-index: 0;
    position: relative;
    width:90vw;
    height:180vw;
    max-width: 40vh;
    max-height:80vh;
    border-right:solid rgb(83,48,72) 5px;
    border-bottom:solid rgb(83,48,72) 5px;
    border-left:solid rgb(124, 59, 59) 5px;
    border-top:solid rgb(124, 59, 59) 5px;
    border-radius: 20px;
    margin:0px 0px 0px 0px;
    padding:0px;
    overflow: hidden;
    background:  url("../images/background.png") no-repeat top center/cover;
    background-size: 125%;
    background-color: black;
   
    border-width: 10px;
}

#character{
    z-index: 3;
    height:fit-content;
    width:auto;
    position: absolute;
    left:5%;
    bottom:0%;
}

#character img{
    pointer-events: none;
    user-select: none;
    width: 40.5vw;
    max-width:18vh;
    height:auto;
}

#ball{
    z-index:2;
    height:fit-content;
    width:auto;
    position: absolute;
    bottom:19%;/*14*/
    left:8%;
}

#ball img{
    width:9vw;
    max-width:4vh ;
    height:auto;
    border-radius:50%;
    box-shadow:0px 0px 30px rgb(255, 255, 255);
}

#arrow{
    z-index:1;
    height:4.4%;
    width:11.1vw;
    max-width:4.94vh;
    position: absolute;
    bottom:21%;
    left:13%;
}

#arrow img{
    height:100%;
    width:100%;
    transform-origin: 0% 50%;
}

#hoop1 {
    z-index:3;
    height:fit-content;
    width:auto;
    position: absolute;
    bottom:35%;
    right:0%;
    width:auto;
}

#hoop1 img {
    height:9vw;
    width:36vw;
    max-width:16vh;
    max-height:4vh;
}

#hoop2 {
    z-index:1;
    height:fit-content;
    width:auto;
    position: absolute;
    bottom:35%;
    right:0%;
    width:auto;
}

#hoop2 img {
    height:9vw;
    width:36vw;
    max-width:16vh;
    max-height:4vh;
}

#info-bar {
    background-color: rgba(0,0,0,0.5);
    color:white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    width:100%;
    margin:auto;
}

#info-bar span{
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
}

#info-bar > span {
    font-size: 80%;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin:3px;
    width:30%;
}

#clock {
    border:solid black 3px;
    color:black;
    background-color: white;
    border-radius:50%;
    padding:5px;
    margin:5px;
}

#score-box {
    border-radius: 5px;
    color:black;
    border:solid black 3px;
    background-color: white;
    padding:3px 5px;
}

#level {
    font-size: 170%;
    padding:0px 5px;
}

#alert-window {
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    border:solid rgb(194,175,44) 3px;
    margin:5%;;
    position:absolute;
    bottom:50%;
    left:0%;
    width:90%;
    height:30%;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: -10px 10px 10px black;
    font-size: 60%;
}


#alert {
    font-size:200%
}

.alert-option{
    background-color: rgb(58, 160,223);
    border:solid white 1px;
    padding:5px;
    border-radius:5px;
    box-shadow: -5px 5px 5px black;
}

@media screen and (min-width:900px){
    main{
        flex-direction: row;
    }
    #instructions{
        order:1;
        width:30%;
    }
    #game-window{
        order:2;
    }
    #controls{
        order:3;
        width:30%;
        
    }

    .text-box{
        font-size:100%;
        padding:0px 0px 10px 0px;
        background-color: rgb(124, 59, 59);        
        box-sizing: border-box;
        margin:0px 50px;
        color:rgb(194,175,44);
        font-family: "Merienda", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        border-radius: 10px;
        box-shadow:-1px 1px 100px rgb(164, 147, 34),1px -1px 100px rgb(164, 147, 34),
                    -1px -1px 100px rgb(164, 147, 34),1px 1px 100px rgb(164, 147, 34);
        overflow: hidden;
        text-shadow:-2px 2px 2px black;
    }

    .text-box ul {
        margin:10px;
    }
}