body{
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-window{
    z-index: 0;
    position: relative;
    width:90vw;
    height:180vw;
    max-width: 40vh;
    max-height:80vh;
    border:solid black 5px;
    border-radius: 10px;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

#character{
    z-index: 3;
    height:fit-content;
    width:auto;
    position: absolute;
    left:10%;
    bottom:0%;
}

#character img{
    pointer-events: none;
    user-select: none;
    width: 13.5vw;
    max-width:6vh;
    height:auto;
}

#ball{
    z-index:2;
    height:fit-content;
    width:auto;
    position: absolute;
    bottom:14%;
    left:23%;
}

#ball img{
    width:4.5vw;
    max-width:2vh ;
    height:auto;

}

#arrow{
    z-index:1;
    height:4.4%;
    width:11.1vw;
    max-width:4.94vh;
    position: absolute;
    bottom:14%;
    left:25.6%;
}

#arrow img{
    height:100%;
    width:100%;
    transform-origin: 0% 50%;
}

#hoop {
    z-index:1;
    height:fit-content;
    width:auto;
    position: absolute;
    bottom:70%;
    right:0%;
    width:auto;
}

#hoop img {
    height:9vw;
    width:36vw;
    max-width:16vh;
    max-height:4vh;
}